{% macro displayBlogs(posts) %}

    {% for post in posts %}
        <div class="col-xs-12 col-md-6">
            <div class="card posts-card">
                <img class="card-img-top" src="{{url_for('static',filename=post.post_pic_path)}}" alt="Post picture">
                <div class="card-body">
                    <h5 class="card-title">{{post.title | upper}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.posted.strftime("%d %b %Y %I:%M %p")}}</h6>
                    <p class="card-text">{{post.text | truncate(400)}}</p>
                                       
                    <p class="text-muted"><a href="{{(url_for('main.blog_post', post_id=post.id))}}">Read article</a></p>                    
                </div>
            </div>
        </div>

    {% endfor %}

{% endmacro %}
